/* Global Starts Here */
* {
    box-sizing: border-box
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Ubuntu;}

a {
    text-decoration: none;
    color: purple;
}

pre{
    font-size: 20px;
    text-align: center;
}
/* Global Stops Here */

.raas{
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: -80px;
}

.navbar{
    width: 90%; 
    background-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
}

.navbar a {
    padding-left: 15px; 
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    background-color: yellow;
}

.navbar a:focus {
    color: red;
    background-color: yellow;
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-button {
    padding: 5px; 
    border-radius: 50px; 
    width: 150px; 
    background-color: white; 
    border: blue;
}

.div{
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(masjid2.jpg);
    background-repeat: no-repeat;
    background-position: center bottom right;
    background-size: cover;
    background-color: #2c6fd7;
}

.sector{
    width: 33%;
    background-color: #ffffff; 
    margin-left: 100px; 
    margin-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    box-shadow: 2px 3px 5px grey;
}

.svg-contain{
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: #2c6fd7;
    border: 2px solid white; 
    margin-left: 80px;
}

.svg{
    padding-top: 23px;
    width: 45px;
}

.div10 {
    display: flex; 
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div11 {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 80px;
    background-color: #9aa2a5;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner{
    width: 50%;
    margin-right: 130px;
    margin-left: auto;
    display: flex;
    margin-top: -10px;
}

.dot{
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: red; 
    margin-right: 10px;
}

.long-dot{
    width: 200px; 
    height: 10px; 
    border-radius: 80px; 
    background-color: red; 
    margin-right: 10px;
}

/* Goals Section */
.goals{
    display: flex; 
    width: 80%;  
    margin-left: auto; 
    margin-right: auto;
}

.inner-goals {
    width: 20%; 
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.svg-fit{
    width: 45px;
}

.lsec{
    width: 30%;
    border: 2px solid gray;
    margin-left: 35px;
    background-color: white;
    box-shadow: 2px 5px 5px gray;
}

.lsec-des{
    padding: 10px;
}

.lsec-des1{
    padding: 20px;
}

.lsec1{
    width: 35%;
    /* border: 2px solid gray; */
    /* margin-left: 35px; */
    background-color: white;
    /* box-shadow: 2px 5px 5px gray; */
}

/* Peculiars and Particulars */
.sta1{
    font-weight: bold; 
    word-spacing: 2px; 
    font-size: 33px;
}

.container{
    width: 70%; 
    display: flex; 
    margin-left: 150px;
    padding-bottom: 20px;
}

.container1{
    width: 70%;
    display: flex;
    margin-left: 190px;
    padding-bottom: 20px;
  }

.large-cont{
    width: 100%; 
    background-color: white; 
    padding-top: 20px;
}

.img-des{
    width: 100%; 
    border-bottom: 2px solid black;
}

.opening{
    margin-top: -35%;
}

hr{
    color: white;
    display: inline-block;
    width: 50%;
    margin-left: 20%;
}

.opac{
    background-image: url(Screenshot\ \(1594\).png); 
    background-position: center; 
    height: 300px;
}

.pg-foot{
    background-color: white; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-top: 3px solid black;
}

.foot-div{
    display: flex; 
    margin-left: 400px;
}

.social{
    margin-left: 50px; 
    margin-top: 11px;
}

.icon-social{
    padding-right: 20px;
}

.sec-p{
    word-break:break-all; 
    padding: 20px;
}

.close-button{
    display: none;
}

.open-button{
    display: none;
}

.privacy{
    margin-left: 600px; color: black;
}

/* This Section is for Media Screens - Mobile Devices */
@media screen and (max-width: 450px) {
 
    .navbar {
        width: 100%;
        background-color: red;
        margin-left: -10%;
        margin-right: 5%;
        display: none;
        flex-direction: column;
        margin-top: 140px;
        position: fixed;
        text-align: center;
      }

      .close-button{
        width: 50px; 
        color: white; 
        font-size:30px; 
        margin-left: 80%;
        display: block;
      }
      .open-button{
        margin-left: 400px; 
        color: white; 
        position: absolute;
        display: block;
      }

      .div10 {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 40px;
      }

      .sector {
        width: 100%;
        background-color: #ffffff;
        margin-left: 20px;
        margin-right: 100px;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
        box-shadow: 2px 3px 5px grey;
      }

      .svg-contain {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #2c6fd7;
        border: 2px solid white;
        margin-left: 150px;
      }

      .inner-goals {
        width: 90%;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-bottom: 10px;
    }

    .goals {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        /* margin-right: auto; */
        margin-bottom: -60px;
    }

    .lsec {
        width: 90%;
        border: 2px solid gray;
        margin-left: 25px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 2px 5px 5px grey;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .opening {
        margin-top: -130%;
    }

    .container1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .lsec1 {
        width: 100%;
        /* border: 2px solid gray; */
        /* margin-left: 35px; */
        background-color: white;
        /* box-shadow: 2px 5px 5px grey; */
    }

    .pg-foot {
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 3px solid black;
        display: block;
        margin-top: 600px;
    }

    .foot-div {
        display: block;
        margin-left: 0px;
    }

    .social{
        margin-left: 40px;
    }

    .privacy{
        margin-left: 150px; 
        color: black;
    }
}

/* For Portrait Tablets and Large Phones*/
@media only screen and (min-width: 600px) and (max-width: 768px){
    .navbar {
        width: 100%;
        background-color: red;
        margin-left: -10%;
        margin-right: 5%;
        display: none;
        flex-direction: column;
        margin-top: 170px;
        position: fixed;
        text-align: center;
      }

      .close-button{
        width: 50px; 
        color: white; 
        font-size:30px; 
        margin-left: 80%;
        display: block;
      }
      .open-button{
        margin-left: 530px; 
        color: white; 
        position: absolute;
        display: block;
      }

      .div10 {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        flex-direction: column;
        padding-left: 0px;
        padding-right: 40px;
      }

      .sector {
        width: 100%;
        background-color: #ffffff;
        margin-left: 20px;
        margin-right: 100px;
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 3px;
        padding-right: 3px;
        text-align: center;
        box-shadow: 2px 3px 5px grey;
      }

      .svg-contain {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #2c6fd7;
        border: 2px solid white;
        margin-left: 310px;
      }

      .inner-goals {
        width: 90%;
        background-color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        margin-bottom: 10px;
    }

    .goals {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: auto;
        /* margin-right: auto; */
        margin-bottom: -60px;
    }

    .lsec {
        width: 90%;
        border: 2px solid gray;
        margin-left: 25px;
        margin-bottom: 20px;
        background-color: white;
        box-shadow: 2px 5px 5px grey;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .opening {
        margin-top: -77%;
    }
    .opac{
        /* background-image: url(Screenshot\ \(1594\).png); */
        background-position: center; 
        height: 300px;
    }
    .container1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding-bottom: 20px;
    }

    .lsec1 {
        width: 100%;
        /* border: 2px solid gray; */
        /* margin-left: 35px; */
        background-color: white;
        /* box-shadow: 2px 5px 5px grey; */
    }

    .pg-foot {
        background-color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 3px solid black;
        display: block;
        margin-top: 593px;
    }

    .foot-div {
        display: block;
        margin-left: 0px;
    }

    .social{
        margin-left: 200px;
        padding-bottom: 10px;
    }

    .privacy{
        margin-left: 300px;
        color: black;
        padding-bottom: 10px;
    }
}
/* For Large Tablets, Laptops and Desktops */


